
.container{
    
    margin: auto;
    width: 80%;
}

table, tr, td{
    
    border-bottom: 1px solid grey;
    padding: 15px;
    border-collapse: collapse;
    border-color: #96d4d9;
    
    
}

table{
    /* width: 50px; */
    font-size: 20px;
        

}

td,th{
    padding: 15px;
    
}

th{
    background-color: dodgerblue;
    color: white
}

caption{
    font-size: 30px;
    padding-top: 15px;
    font-weight: bold;
}




.gr{
    background-color: green;
    border-radius: 2px 3px;
    padding: 2px;
    color: white;

}

.big{
    color: green;
}

.low{
    color: red;
}

.lo{
    background-color: red;
    border-radius: 2px 3px;
    padding: 3px;
    color: white;

}